
@media (min-width: 1200px ) { 

/* .contener {
    padding-left: 50px;
    padding-right: 50px;
} */
.titleFirst {
    width: 500px;
    height: 50px;
    color: rgba(46, 236, 197, 1);
    font-family: Ruberoid;
    font-style: Extra Bold;
    font-size: 45px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding-top: 140px;
    background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}

.titleSecond {
    width: 400px;
    height: 62px;
    color: rgba(46, 236, 197, 1);
    font-family: Ruberoid;
    font-style: Extra Bold;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

}


.headerTwo {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}



.men {
    width: 400px;
    /* overflow: hidden; */
    position: relative;
}

.WeStudy {
    margin: 0;
    width: 500px;
    height: 50px;
    color: rgba(255, 255, 255, 0.65);
    font-family: Ruberoid;
    font-style: Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.buttonMore {
    width: 130px;
    height: 40px;
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;    
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;

}

.buttonName {
    width: 80px;
    height: 19px;
    background: none;   /* убираем фон */
    border: none;       /* убираем рамку */
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 19px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.quation {
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    background: transparent;   /* убираем фон */
    border: none;              /* убираем рамку */
    outline: none;             /* убираем подсветку */
    padding: 0;
    margin-top: 30px;
    position: relative;
    left: 30px;
    
}

.quationButton {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    
.weStudySmall {
    display: none;
}


.men2 {
    display: none;
}

.buttonFormobile {
    display: none;
}



}



@media (min-width: 768px ) and (max-width: 1199px ){  


    .titleFirst {
        width: 350px;
        height: 40px;
        color: rgba(46, 236, 197, 1);
        font-family: Ruberoid;
        font-style: Extra Bold;
        font-size: 30px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;
        padding-top: 130px;
        background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
        text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    
    }
    
    .titleSecond {
        width: 300px;
        height: 45px;
        color: rgba(46, 236, 197, 1);
        font-family: Ruberoid;
        font-style: Extra Bold;
        font-size: 23px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        margin: 0;
        background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
        text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    
    }
    .headerTwo {
        display: flex;
        justify-content: space-evenly;
        padding-top: 120px;
    }
    
    .men {
        width: 350px;
        position: relative;
    }
    
    .WeStudy {
        margin: 0;
        width: 350px;
        height: 45px;
        color: rgba(255, 255, 255, 0.65);
        font-family: Ruberoid;
        font-style: Medium;
        font-size: 15px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
    }
    
    .buttonMore {
        width: 120px;
        height: 37px;
        background-color: rgba(46, 236, 197, 0.1);
        box-shadow: 0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;    
        border-radius: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        cursor: pointer;
    
    }
    .buttonName {
        width: 60px;
        height: 17px;
        background: none; 
        border: none;      
        font-family: Ruberoid;
        font-weight: 400;
        font-size: 16.5px;
        font-style: Semi Bold;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    
    .quation {
        font-family: Ruberoid;
        font-weight: 400;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.9);
        background: transparent;   
        border: none;              
        outline: none;             
        margin-top: 15px;
        position: relative;
        left: 15px;
        
    }
    .quationButton {
        width: 320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    } 
    
    /* .contener {
        padding-left: 50px;
        padding-right: 50px;
    }
    */
    
    
    .weStudySmall {
        display: none;
    }

    .men2 {
        display: none;
    }

    .buttonFormobile {
        display: none;
    }




}


@media (min-width: 360px ) and (max-width: 480px ){ 

.contener {
    padding-top: 130px;
}

.titleFirst {
width: 200px;
height: 64px;
opacity: 1;
font-family: Ruberoid;
font-weight: 400;
font-style: Extra Bold;
font-size: 27px;
line-height: 118%;
letter-spacing: 0%;
background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;

}

.titleSecond {
    display: none;
}

.weStudySmall {
width: 190px;
height: 34px;
opacity: 1;
font-family: Ruberoid;
font-weight: 400;
font-style: Medium;
font-size: 13px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 0.65);


}

.WeStudy {
    display: none;
}

.quation {
    display: none;
}

.buttonMore {
    width: 120px;
    height: 37px;
    background-color: rgba(46, 236, 197, 0.1);
    /* box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;     */
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgba(46, 236, 197, 1);

}

.buttonName {
    width: 60px;
    height: 17px;
    background: none; 
    border: none;      
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 16.5px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;


}

.men {
    display: none;
}

.men2 {
    width: 230px;
    height: 350px;
    overflow: hidden;
}

.headerTwo {
    display: flex;
    justify-content: space-between;
}
.ownTitle {
    position: relative;
    left: 25px;
}

.firstButton {
    background-color: rgba(46, 236, 197, 0.1);
    border-radius: 49px;
    border: 1.5px solid rgba(32, 140, 118, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px; /* 👈 добавили "воздух" */
    margin-top: 20px;
  }

.secondButton {
  /* width: fit-content;
    height: 37px;
    background-color: rgba(46, 236, 197, 0.1);
    border: 1.5px solid rgba(32, 140, 118, 1); */

    /* box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;     */
     /* border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   */

    background-color: rgba(46, 236, 197, 0.1);
    border-radius: 49px;
    border: 1.5px solid rgba(32, 140, 118, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px; /* 👈 добавили "воздух" */
    margin-top: 20px;

}


.firstButtonName {
    width: auto;
    height: 17px;
    background: none; 
    border: none;      
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 16.5px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

}


