.contener {
    padding-left: 50px;
    padding-right: 50px;
}
.titleFirst {
    width: 550px;
    height: 50px;
    color: rgba(46, 236, 197, 1);
    font-family: Ruberoid;
    font-style: Extra Bold;
    font-size: 50px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding-top: 140px;
    filter: drop-shadow(0 0 10px rgba(46, 236, 197, 1))
    drop-shadow(0 0 20px rgba(46, 236, 197, 0.8))
    drop-shadow(0 0 40px rgba(46, 236, 197, 0.6));
}

.titleSecond {
    width: 400px;
    height: 62px;
    color: rgba(46, 236, 197, 1);
    font-family: Ruberoid;
    font-style: Extra Bold;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    text-shadow: 
    0 0 10px rgba(46, 236, 197, 1),
    0 0 20px rgba(46, 236, 197, 1),
    0 0 40px rgba(46, 236, 197, 1);
}


.headerTwo {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding-top: 120px;
}



.men {
    width: 450px;
}

.WeStudy {
    margin: 0;
    width: 550px;
    height: 50px;
    color: rgba(255, 255, 255, 0.65);
    font-family: Ruberoid;
    font-style: Medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.buttonMore {
    width: 130px;
    height: 40px;
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;    
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;

}

.buttonName {
    width: 80px;
    height: 19px;
    background: none;   /* убираем фон */
    border: none;       /* убираем рамку */
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 19px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.quation {
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    background: transparent;   /* убираем фон */
    border: none;              /* убираем рамку */
    outline: none;             /* убираем подсветку */
    padding: 0;
    margin-top: 30px;
    position: relative;
    left: 30px;
    
}

.quationButton {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}