
@media (min-width: 1300px ) {

    .contener {
    padding-left: 50px;
    padding-right: 50px;
}
.logo {
    width: 96.19px;
    height: 68.24px;
}
.img {
    display: flex;
    justify-content: start;
}

.header {
    display:flex;
    justify-content: space-evenly;
    width: auto;
    align-items: center;
    padding-top: 50px;
}

.navigate {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    height: 22px;
    align-items: center;
}

.navigate a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Ruberoid;
    font-style: Semi Bold;
    font-size: 20px;
    font-weight: 400;

}

.button {
    width: 183px;
    height: 58px;
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;    
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.buttonname {
    width: 97px;
    height: 21px;
    background: none;   /* убираем фон */
    border: none;       /* убираем рамку */
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 20px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.navbut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.navForPhone {
    display: none;
}

}


@media (min-width: 768px ) and (max-width: 1300px ){ 

    /* .contener {
        padding-left: 50px;
        padding-right: 50px;
    } */
     .logo {
        width: 80.19px;
        height: 60.24px;
    }

    .navForPhone {
        display: none;
    }

    .header {
        display:flex;
        justify-content: space-evenly;
        width: auto;
        align-items: center;
        padding-top: 50px;
    }
    
    .navigate {
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
        min-width: 370px;
        max-width: 500px;
        height: 22px;
        align-items: center;
        position: relative;
        right: 10px;
    }
    .navigate a{
        text-decoration: none;
        color: #FFFFFF;
        font-family: Ruberoid;
        font-style: Semi Bold;
        font-size: 17px;
        font-weight: 400;
    
    }
    
    .button {
        width: 150px;
        height: 45px;
        background-color: rgba(46, 236, 197, 0.1);
        box-shadow: 0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;    
        border-radius: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    
    .buttonname {
        width: 80px;
        height: 21px;
        background: none;   
        border: none;       
        font-family: Ruberoid;
        font-weight: 400;
        font-size: 17px;
        font-style: Semi Bold;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    
    .navbut {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    /*
    .img {
        display: flex;
        justify-content: start;
    }
    
    
 */


}


@media (min-width: 360px ) and (max-width: 480px ){ 
    .contener {
        padding-top: 50px;
    }
    .logo {
        width: 69px;
        height: 47px;
        position: relative;
        right: 40px;
    }

    .navbut {
        display: none;
    }


    .header {
        display: flex;
        justify-content: space-between;
    }
    
    .burger {
        position: relative; 
        left: 30px;
        background: none;
        background: linear-gradient(139.93deg, #2EE9C3 -1.69%, #36A48E 62.63%, #3A786C 117.78%);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        font-weight: bold; 
        font-size: 48px;
        border: 0;
        color: #3A796D;
        height: 50px;
        bottom:17px;
    }



    .mobileMenu {
        position: fixed;         /* занимает всё окно */
        top: 0;
        width: 100%;            /* вся ширина */
        height: 340px;           /* вся высота */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 100;
        background: linear-gradient(132.64deg, #161919 2.37%, #373A3A 100.31%);
        padding-top: 35px;
    }

    .mobileMenu a {
        font-family: Ruberoid;
        font-weight: 400;
        font-style: Bold;
        font-size: 20px;
        line-height: 118%;
        letter-spacing: 0%;
        color: rgba(46, 236, 197, 1);
        text-decoration: none;
    }

     li  {
        list-style: none;
        width: 100%;

    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        
    }

    .firstLi {
        margin-top: 30px;
    }


    .closeBtn {
        /* background: linear-gradient(147.14deg, #2EECC5 8.04%, #3A796D 80.38%); */
        color: #3A796D;
        border: 0px;
        /* box-shadow: 0px 0px 21px 0px rgba(53, 166, 144, 0.5); */
        font-size: 40px;
        background: none;
        background: linear-gradient(139.93deg, #2EE9C3 -1.69%, #36A48E 62.63%, #3A786C 117.78%);
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
        font-weight: bold; 
        position: fixed;
        left: 40px;
        top: 45px;

    }

    li a:hover {
        background: linear-gradient(90.18deg, #30DBB8 -17.89%, #37A58F 24.63%, #398778 99.91%);
    }


    .mobileMenu li a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: rgba(46, 236, 197, 1);
        transition: background 0.3s;
        padding: 12px 0;
      }

}