/* .contener {
    margin-top: 200px;
    background-color: rgba(49, 49, 52, 1);
    height: 460px;
    border: 1px;
    background: linear-gradient(90deg,rgba(49, 49, 52, 1) 0%, rgba(34, 34, 36, 1) 26%, rgba(18, 71, 60, 1) 61%, rgba(41, 41, 41, 1) 100%);
} 

    

.titleColor {
    width: 500px;
    font-size: 40px;
    font-family: Ruberoid;
    font-weight: 400;
    font-style: Bold;
    color: rgba(46, 236, 197, 1);
    line-height: 111.01%;
    background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-top: 40px;
    position: relative;
    bottom: 40px;
}

.laberInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.firstLabel {
    font-size: 17px;
    font-family: Ruberoid;
    font-weight: 400;
    font-style: Medium;
    color: rgba(255, 255, 255, 0.7);
    line-height: 154%;
    margin-bottom: 6px;
    margin-left: 7px;

}

.firstInput {
    width: 437px;
    height: 52px;
    border-radius: 41px;
    border:  1.5px solid  rgba(255, 255, 255, 0.2) ;
    box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
    color: white;
    background: rgba(255, 255, 255, 0.05); 
    font-size: 20px;
}

.firstInput:focus {
    border-color: rgba(46, 236, 197, 1);
    box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.3);
    outline: none;
}

.kindInput {
margin-top: 20px;

}

.kindtwoInput {
    margin-top: 20px;
    position: relative;
    top: 85px;

}

.chiefInpur {
    display: grid;
    grid-template-columns: minmax(500px , 500px) minmax(440px , 500px) minmax(420px , 530px);
    justify-content: start;
    position: relative;
    left: 50px;
    width: 95%;
}

.firstInput[type="number"]::-webkit-inner-spin-button,
.firstInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgPhone {
    position: relative;
    bottom: 28px;
    width: auto;
    height: 530px;
}

.gridcon {
    display: grid;
}


.buttonColor {
    width: 130px;
    height: 40px;
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;    
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 40px;
} 


.buttonName {
    width: 80px;
    height: 19px;
    background: none;   
    border: none;       
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 19px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

 */

 @media (min-width: 1200px ) { 

 .contener {
    margin-top: 200px;
    background-color: rgba(49, 49, 52, 1);
    height: 460px;
    border: 1px;
    background: linear-gradient(90deg,rgba(49, 49, 52, 1) 0%, rgba(34, 34, 36, 1) 26%, rgba(18, 71, 60, 1) 61%, rgba(41, 41, 41, 1) 100%);
    /* overflow: hidden; */
} 

.phoneForLaptob {
    display: none;
}

    

.titleColor {
    width: 500px;
    font-size: 40px;
    font-family: Ruberoid;
    font-weight: 400;
    font-style: Bold;
    color: rgba(46, 236, 197, 1);
    line-height: 111.01%;
    /* градиент для текста */
    background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    padding-top: 40px;
    position: relative;
    bottom: 40px;
}

.laberInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.firstLabel {
    font-size: 17px;
    font-family: Ruberoid;
    font-weight: 400;
    font-style: Medium;
    color: rgba(255, 255, 255, 0.7);
    line-height: 154%;
    margin-bottom: 6px;
    margin-left: 7px;

}

.firstInput {
    width: 437px;
    height: 52px;
    border-radius: 41px;
    border:  1.5px solid  rgba(255, 255, 255, 0.2) ;
    box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
    color: white;
    background: rgba(255, 255, 255, 0.05); /* прозрачный темный фон */
    font-size: 20px;
}

.firstInput:focus {
    border-color: rgba(46, 236, 197, 1);
    box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.3);
    outline: none;
}

.kindInput {
margin-top: 20px;

}

.kindtwoInput {
    margin-top: 20px;
    position: relative;
    top: 85px;

}

.chiefInpur {
    /* display: flex;
    justify-content: space-around;
    gap: 50px; */
    display: grid;
    grid-template-columns: minmax(500px , 500px) minmax(440px , 500px) minmax(420px , 530px);
    justify-content: start;
    position: relative;
    left: 50px;
    width: 95%;
}

.firstInput[type="number"]::-webkit-inner-spin-button,
.firstInput[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgPhone {
    position: relative;
    bottom: 28px;
    width: auto;
    height: 530px;
}

.gridcon {
    display: grid;
}


.buttonColor {
    width: 130px;
    height: 40px;
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;    
    border-radius: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 40px;
} 


.buttonName {
    width: 80px;
    height: 19px;
    background: none;   
    border: none;       
    font-family: Ruberoid;
    font-weight: 400;
    font-size: 19px;
    font-style: Semi Bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



 }

 @media (min-width: 768px ) and (max-width: 1199px ){  
 

    .contener {
        display: grid;
        margin-top: 200px;
        background-color: rgba(49, 49, 52, 1);
        border: 1px;
        background: linear-gradient(90deg,rgba(49, 49, 52, 1) 0%, rgba(34, 34, 36, 1) 26%, rgba(18, 71, 60, 1) 61%, rgba(41, 41, 41, 1) 100%);
        /* overflow: hidden; */
        height: 410px;
    } 
    
        
    
    .titleColor {
        width: 500px;
        font-size: 35px;
        font-family: Ruberoid;
        font-weight: 400;
        font-style: Bold;
        color: rgba(46, 236, 197, 1);
        line-height: 111.01%;
        /* градиент для текста */
        background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
        text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
    
    .laberInput {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    
    }
    
    .firstLabel {
        font-size: 15px;
        font-family: Ruberoid;
        font-weight: 400;
        font-style: Medium;
        color: rgba(255, 255, 255, 0.7);
        line-height: 154%;
        margin-bottom: 6px;
        margin-left: 7px;
    
    }
    
    .firstInput {
        height: 52px;
        border-radius: 41px;
        border:  1.5px solid  rgba(255, 255, 255, 0.2) ;
        box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
        color: white;
        background: rgba(255, 255, 255, 0.05); /* прозрачный темный фон */
        font-size: 20px;
    }
    
    .firstInput:focus {
        border-color: rgba(46, 236, 197, 1);
        box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.3);
        outline: none;
    }
    
    .kindInput {
    margin-top: 20px;
    
    }
    
    .kindtwoInput {
        margin-top: 20px;
        position: relative;
        top: 40px;
    
    }
    
    .chiefInpur {
         /* display: flex;
        justify-content: space-evenly;
        gap: 50px;  */
        display: grid;
        grid-template-columns: minmax(250px , 400px) minmax(250px , 400px);
        justify-content: space-around;
        gap: 30px;
    }
    
    .firstInput[type="number"]::-webkit-inner-spin-button,
    .firstInput[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    .imgPhone {
        /* position: absolute;
        left: 50%;
        transform: translate(-50%, -50%); */
        display: none;
    }
    

    
    .buttonColor {
        width: 140px;
        height: 40px;
        background-color: rgba(46, 236, 197, 0.1);
        box-shadow: 0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;    
        border-radius: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 40px;
    } 
    
    
    .buttonName {
        width: 100px;
        height: 19px;
        background: none;   
        border: none;       
        font-family: Ruberoid;
        font-weight: 400;
        font-size: 20px;
        font-style: Semi Bold;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    

.phoneForLaptob {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
}

.imgPhone2 {
    width: 400px;
    height: auto;

}

}

@media (min-width: 360px) and (max-width: 768px) {

   .contener {
        margin-top: 150px;
        background-color: rgba(49, 49, 52, 1);
        border: 1px;
        background: linear-gradient(73.49deg, #313134 -57.16%, #222224 3.42%, #12473C 53.17%, #292929 86.16%);
        /* overflow: hidden; */
        height: 730px;
        border: 1px solid rgba(255, 255, 255, 0.2)
    }  

    .titleColor {
        width: 277px;
        opacity: 1;
        height: 41px;
        font-family: Ruberoid;
        font-style: Bold;
        font-size: 37px;
        line-height: 111.00000000000001%;
        letter-spacing: 0%;
        font-weight: 400;
        text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.2);
        background: linear-gradient(91.2deg, #B5FEEF 10.31%, #2EECC5 165.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        text-align: center;
    }   


    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .phoneForLaptob {
        display: none;
    }

    .imgPhone {
        width: 254px;
        opacity: 1;
        position: absolute;
        left: 50%;
        top: 28.5%;
        transform: translate(-50%, -50%);
        height: auto;
        max-height: 492px;
    }

    .laberInput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .firstLabel {
        width: 240px;
        opacity: 1;
        height: 26px;
        font-family: Ruberoid;
        font-style: bold;
        font-size: 17px;
        line-height: 154%;
        letter-spacing: 0%;
        color: rgba(255, 255, 255, 0.7);

    }

       
    .firstInput {
        height: 52px;
        border-radius: 41px;
        border:  1.5px solid  rgba(255, 255, 255, 0.2) ;
        box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
        color: white;
        background: rgba(255, 255, 255, 0.05); /* прозрачный темный фон */
        width: 328px;
        margin-bottom: 23px;
    }
    
    .firstInput:focus {
        border-color: rgba(46, 236, 197, 1);
        box-shadow: 0px 0px 38px 0px rgba(46, 236, 197, 0.3);
        outline: none;
    }

    label {
        position: relative;
        right: 35px;
        font-weight: 500;
    }


    .buttonColor {
        width: 140px;
        height: 40px;
        background-color: rgba(46, 236, 197, 0.1);
        box-shadow: 0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 40px #0ff;    
        border-radius: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        top: 20px;
    } 
    
    
    .buttonName {
        width: 100px;
        height: 19px;
        background: none;   
        border: none;       
        font-family: Ruberoid;
        font-weight: 400;
        font-size: 20px;
        font-style: Semi Bold;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    } 

    .chiefInpur img {
        /* display: flex;
        margin: 0 auto;
        margin-top: 150px;
        height: fit-content; */
        position: relative;

    }
    .chiefInpur {
        position: relative;

        height: 1160px;
    }
    

}